.head  .img img{
    animation: sale;
    animation-timing-function:linear;
    animation-duration: 15s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction:normal;
    max-width: 90%;
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 100%;
}
@keyframes sale {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);

    }
    
}
.sec1{
    max-width: 500px;
}