.content{
    margin-top: 100px;
}
.main{
    height: auto;
}
.main form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main form .input{
    margin: 5px;
    padding: 0 10px;
    width: 250px;
    border-radius:20px;
    background-color: rgba(255, 235, 205, 0.548);
    border: none;
    text-transform: lowercase;
}
.main form .btnn{
    width: 100px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color:var(--main-color);
}
