.head{
    width: 100%;
    height: auto;
}
.head .container .row{
    max-height: auto;
    display: flex;
    justify-content: space-between;
}
.head .container .row img{
    width:90%;
    animation: sale;
    animation-timing-function:linear;
    animation-duration: 15s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction:normal;
    border-radius: 150%;
    position: sticky;
    z-index: -9999;
    margin-top: 50px;
}
@keyframes sale {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);

    }
    
}
.sec1{
    margin-top: 100px;
   

}
.head2{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.head2 .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}