section{
    margin-top: 50px;
}
table{
    margin: auto;
}
table thead td,tbody td{
    display: grid;
    grid-template-columns: 20px 250px auto auto;
    margin: 10px 0;
    border-bottom: 1px #aaa solid;
    
}
.total{
    width: 30%;
    margin: 10px auto;
    border: 1px #aaa solid;
    height: 150px;

}
.options{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#C{
    border: none;
    background-color: var(--main-color);
    color: white;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin: 10px;
}